:root {
/* Fonts */
    --font-heading: 'PT Sans', sans-serif;
    --font-parraf: 'Open Sans', sans-serif;
/* color palette */
    --first-color: #784D3C;
    --grey: #e1e1e1;
    --white: #FFFFFF;
    --black: #000000;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1rem = 10px*/
}

*,*:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: var(--font-parraf);
    font-size: 1.6rem;
    line-height: 2;
}

/* Globals */

.content {
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
    width: min(90% 120rem);
}

a {
    text-decoration: none;
}

h1, h2, h3, h4 {
    font-family: var(--font-heading);
    line-height: 1.2;
}
h1 {
    font-size: 4.8rem;
}
h2 {
    font-size: 4rem;
}
h3 {
    font-size: 3.2rem;
}
h4 {
    font-size: 2.8rem;
}

img {
    max-width: 100%;
}

/* Utilitys */

.no-margin {
    margin: 0;
}
.no-padding{
    padding: 0;
}
.text-center {
    text-align: center;
}

/* header */

.header {
    background-image: url(../img/banner.jpg);
    height: 60rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; 
}
.header__text {
    text-align: center;
    color: var(--white);
    margin-top: 5rem;
}
@media (min-width: 768px) {
    .header__text {
        margin-top: 15rem;
    }
}
.barra {
    padding-top: 4rem;
    padding-right: 3rem;
}

@media (min-width: 768px) {
    .barra {
        display: flex;
        justify-content: space-between;
        align-items: center;

    }
}
.logo {
    color: var(--white);
}
.logo__name {
    font-weight: normal;
}
.logo__bold {
    font-weight: bold;
}

@media (min-width: 768px) {
    .navbar {
        display: flex;
        gap: 2rem;
    }
}
    .navbar__link {
        display: block;
        text-align: center;
        font-size: 1.8rem;
        color: var(--white);
    }

    @media (min-width: 768px) {
        .main-content {
            display: grid;
            grid-template-columns: 2fr 1fr;
            column-gap: 5rem;
        }
        .entry {
            border-bottom: 1px solid var(--grey);
            margin-bottom: 2rem;
        }
        

    .entry :last-of-type {
        border: none;
        margin-bottom: 0;
    }
    }


    .botton {
        display: block;
        font-family: var(--font-heading);
        color: var(--white);
        text-align: center;
        padding: 1rem 3rem;
        font-size: 1.8rem;
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 2rem;
        border: none;
    }
@media (min-width: 768px) {
    .botton {
        display: inline-block;

    }
}
.botton:hover {
    cursor: pointer;
}
.main--botton {
        background-color: var(--black);
    }

.second--botton {
    background-color: var(--first-color);

}

.cources {
    list-style: none;
}

.widget-cource {
    border-bottom: 1px solid var(--grey);
    margin-bottom: 2rem;
}
.widget-cource:last-of-type {
    border: none;
    margin-bottom: 0;
}
.widget-cource__label {
    font-family: var(--font-heading);
    font-weight: bold;
}

.widget-cource__info {
    font-weight: normal;
}

.widget-cource__info,
.widget-cource__label {
    font-size: 2rem;
}

.footer {
    background-color: var(--black);
    padding-bottom: 4rem;
    padding-right: 3rem;
    margin-top: 5rem;
}

/* about us page */

@media (min-width: 768px) {
    /* using flexbox
    .about-us {
        display: flex;
        justify-content: space-betwen ;
    }
    .about-us__text,
    .about-us__image {
        flex-basis: calc(50% -1rem);}

    } */
    .about-us {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        column-gap: 2rem;
    }
}

/* cource page */

.cource {
    padding: 3rem 0;
    border-bottom: 1px solid var(--grey);
}
@media (min-width: 768px) {
    .cource {
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 3rem;
    }
}
.cource:last-of-type {
    border: none;
}
.cource__label {
    font-family: var(--font-heading);
    font-weight: bold;
}

.cource__info {
    font-weight: normal;
}

.cource__info,
.cource__label {
    font-size: 2rem;
}

.contact__bg {
    background-image: url(../img/contacto.jpg);
    height: 40rem;
    background-size: cover;
    background-repeat: no-repeat;
}

.form {
    background-color: var(--grey);
    margin: -5rem auto 0 auto;
    width: 95%;
    padding: 5rem;
    border-radius: 3%;
}
.field {
    display: flex;
    margin-bottom: 2rem;
}

.field__lb {
    flex: 0 0 9rem;
    text-align: right;
    padding-right: 2rem;
}

.field__label {
    flex: 1rem;
    border: 1px solid var(--grey);
}

.field__label--txt {
    height: 20rem;
}